*{
    margin: 0;
    padding: 0;
}
.dashboard-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-logo{
    margin: 0;
}
.title-logo a{
    text-decoration: none;
    color: aliceblue;
}
.welcome{
    margin-top: 20px;
}
.dash-header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #303030;
    color: aliceblue;
    width: 100%;
}
.dash-main-container>h2{
    margin-left: 25px;
}

.cards-container{
    /* background-color: navy; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    /* width: 90%; */
    /* display: inline; */
}
.card-container{
    cursor: pointer;
    margin: 15px;
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    width: 250px;
    background-color: #303030;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-container>p,h2,button{
    margin-block: 10px;
}
.card-container p{
    text-align: justify;
}
.card-container .takeQuizButt{
    padding: 10px 15px;
    border-radius: 10px;
    color: aliceblue;
    border: 0.3px solid aliceblue;
    background-color: #303030;
    cursor: pointer;
}
.card-container .takeQuizButt:hover{
    background-color: aliceblue;
    color: #303030;
    border: 0.3px solid #303030;
}
.card-container:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.quiz-topics-container{
    margin-block: 15px;
    border-radius: 25px;
    padding-block: 20px;
    width: 90%;
    margin-inline: auto;
    background-color: #303030;
}
.topic-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.topic-buttons{
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #303030;
    border: 0.3px solid aliceblue;
    transition: all 0.3s ease 0s;
}
.topic-buttons:hover{
    color: #303030;
    background-color: aliceblue;
    border: 0.3px solid #303030;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}
.quiz-topics-container>h3{
    color: aliceblue;
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.deleteButt{
    margin-block: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0.3px solid aliceblue;
    background-color: #303030;
    color: aliceblue;
    cursor: pointer;
    white-space: nowrap;
}
.deleteButt:hover{
    background-color: aliceblue;
    color: #303030;
    border: 0.3px solid #303030;
}
.manage-user-account-subcontainer{
    width: 70%;
}
.manage-user-account-subcontainer .table-containers{
    counter-reset: rowNumber;
    /* border: 0.5px solid black; */
}
.manage-user-account-subcontainer .table-containers table{
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}
/* .table-container tr{
    counter-increment: rowNumber;
} */
.manage-user-account-subcontainer .table-containers tr td:first-child::before{
    counter-increment: rowNumber;
    content: counter(rowNumber);
    /* min-width: 1em; */
    margin-right: 0.5em;
}

.manage-user-account-subcontainer .table-containers table td{
    width: 25px;
    border: 0.3px solid #303030;
}

.manage-user-account-subcontainer .table-containers table thead tr{
    background-color: #303030;
    color: aliceblue;
    border: 0.3px solid #303030;
}
.manage-user-account-subcontainer .table-containers table thead tr th{
    padding: 10px 20px;
}
.manage-user-account-container{
    margin-block: 15px;
}
.manage-user-account-container tbody tr{
    background-color: aliceblue;
}
.manage-user-account-container h3{
    margin-bottom: 10px;
}
.manage-user-account-container tbody tr td{
    padding: 3px 20px;
}
.table-containers select{
    width: 100px;
}
/* .user-options{
    margin-right: 50px;
} */
.user-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-menu{
    cursor: pointer;
    border: 0.3px solid aliceblue;
    background-color: #303030;
    color: aliceblue;
    padding: 4px 10px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.icon-menu:hover{
    background-color: aliceblue;
    color: #303030;
    border: 0.3px solid #303030;
}
#checkDash{
    display: none;
}

/*options bar*/

.sub-menu1{
    display: none;
    background-color: #303030;
    color: aliceblue;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.2px solid aliceblue;
    padding-block: 15px;
}
.sub-menu1 ul{
    list-style: none;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}
.sub-menu1-goto{
    display: none;
}
.sub-menu1 span{
    /* margin-block: 10px; */
    display: block;
    padding-inline: 10px;
    padding-block: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.sub-menu1>ul>li>a{
    text-decoration: none;
    color: aliceblue;
}
#checkDash:checked ~ .sub-menu1{
    overflow: hidden;
    display: block;
    position: absolute;
    top: 58px;
    right: 0px;
    /* margin-top: 230px;
    margin-right: 90px; */
}
.sub-menu1 span:hover{
    background-color: aliceblue;
    color: #303030;
}
.delete-span{
    margin-top: 10px;
}

/*Goto options*/
.sub-menu1-goto{
    display: none;
    background-color: #303030;
    color: aliceblue;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.2px solid aliceblue;
    padding-block: 15px;
}
#checkDash:checked ~ .sub-menu1-goto{
    overflow: hidden;
    display: block;
    position: absolute;
    top: 58px;
    right: 0px;
    /* margin-top: 485px;
    margin-right: 127px; */
}
.sub-menu1-goto ul{
    list-style: none;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}
.sub-menu1-goto>ul>li>a{
    text-decoration: none;
    color: aliceblue;
}
.sub-menu2 .goto-options{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}
.sub-menu1-goto span{
    display: block;
    padding-inline: 10px;
    padding-block: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.goto-options>li>a{
    text-decoration: none;
    color: #303030;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
.sub-menu1-goto .goto-span{
    margin-block: 10px;
    color: #303030;
    background-color: aliceblue;
}
.sub-menu1-goto .logout-span{
    margin-block: 10px;
}
.sub-menu1-goto span:hover{
    background-color: aliceblue;
    color: #303030;
}
.sub-menu2 .goto-options li a:hover{
    background-color: #303030;
    color: aliceblue;
}
.copyright-dash{
    margin: 0;
    padding-block: 5px;
}

/*User scoreboard styling*/
.scoreboard-table-container{
    counter-reset: rowNumber;
    /* border: 0.5px solid black; */
}
.scoreboard-table-container table{
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}
.scoreboard-table-container th{
    text-align: center;
    background-color: #303030;
    color: aliceblue;
    padding: 10px 15px;
    border: 0.5px solid #303030;
    cursor: pointer;
}
.scoreboard-table-container th:first-child{
    cursor: context-menu;
}
.scoreboard-table-container th:hover{
    color: lightblue;
}
.scoreboard-table-container th:first-child:hover{
    color: aliceblue;
}
/* .table-container tr{
    counter-increment: rowNumber;
} */
.scoreboard-table-container tr td:first-child::before{
    counter-increment: rowNumber;
    content: counter(rowNumber);
    /* min-width: 1em; */
    margin-right: 0.5em;
}

.scoreboard-table-container td{
    width: 25px;
    border: 0.3px solid #303030;
}

.scoreboard-table-container table thead tr{
    background-color: #303030;
    color: aliceblue;
    border: 0.3px solid #303030;
}
/* .scoreboard-table-container table thead tr th{
    cursor: pointer;
    padding: 10px 20px;
    border: 0.3 solid #303030;
} */
.scoreboard-table-container tbody tr{
    background-color: aliceblue;
}
.scoreboard-table-container tbody tr:nth-of-type(2n){
    background-color: #303030;
    color: aliceblue;
}
.scoreboard-table-container tbody tr td{
    padding: 10px 20px;
    border: none;
}
/* .scoreboard-table-container tbody tr td:nth-child(5){
    white-space: nowrap;
} */
.scoreboard-table-container tbody tr td:last-child{
    padding: 10px 20px;
    white-space: nowrap;
}
.scoreboard-container{
    margin-block: 15px;
}
.scoreboard-container thead{
    margin-block: 15px;
}
.sort-buttons-container{
    margin-block: 15px;
}
.sortButt{
    cursor: pointer;
    background-color: #303030;
    color: aliceblue;
    padding: 10px 20px;
    border: 0.3px solid aliceblue;
    margin-right: 10px;
    border-radius: 10px;
}
.table-description{
    text-align: center;
    padding: 10px 20px;
    margin-inline: auto;
    width: 90%;
    background-color: #303030;
    color: aliceblue;
    border-radius: 20px;
}
.table-description .bold{
    font-weight: bolder;
}
.deleteButtRed{
    background-color: red;
    padding: 10px 15px;
    border: 0.3px solid #303030;
    border-radius: 10px;
    color: white;
    margin-inline: 10px;
}
.deleteButtRed:hover{
    background-color: rgb(206, 0, 0);
}
@media screen and (max-width: 1150px) {
    .welcome{
        text-align: center;
    }
}
@media screen and (max-width:800px) {
    .welcome{
        text-align: center;
    }
    .dashboard-container{
        width: 100%;
    }
    .table-description{
        display: none;
        text-align: center;
    }

    .scoreboard-table-container{
        margin-inline: auto;
        counter-reset: rowNumber;
        /* border: 0.5px solid black; */
    }
    .scoreboard-table-container table{
        border-collapse: collapse;
        text-align: center;
        border-radius: 10px;
    }
    .scoreboard-table-container th{
        display: none;
        text-align: center;
        background-color: #303030;
        color: aliceblue;
        padding: 10px 15px;
        border: 0.5px solid #303030;
        cursor: pointer;
    }
    .scoreboard-table-container th:first-child{
        cursor: context-menu;
    }
    .scoreboard-table-container th:hover{
        color: lightblue;
    }
    .scoreboard-table-container th:first-child:hover{
        color: aliceblue;
    }
    /* .table-container tr{
        counter-increment: rowNumber;
    } */
    .scoreboard-table-container tr td:first-child::before{
        counter-increment: rowNumber;
        content: counter(rowNumber);
        /* min-width: 1em; */
        margin-right: 0.5em;
    }
    
    .scoreboard-table-container td{
        display: block;
        /* border: 0.3px solid #303030; */
        border: none;
    }
    .scoreboard-table-container td:first-child{
        display: none;
        padding-top: 2rem;
    }
    .scoreboard-table-container td:last-child{
        padding-bottom: 2rem;
    }
    .scoreboard-table-container td::before{
        content: attr(data-cell) ": ";
        padding-right: 10px;
        font-weight: 700;
        text-transform: capitalize;
    }
    .scoreboard-table-container table thead tr{
        background-color: #303030;
        color: aliceblue;
        /* border: 0.3px solid #303030; */
    }
    /* .scoreboard-table-container table thead tr th{
        cursor: pointer;
        padding: 10px 20px;
        border: 0.3 solid #303030;
    } */
    .scoreboard-table-container tbody tr{
        background-color: aliceblue;
        color: #303030;
        width: 400px;
        padding: 20px;
        /* border: 0.3px solid #303030; */
    }
    .scoreboard-table-container tbody tr:nth-of-type(2n){
        border: 0.3px solid aliceblue;
        /* border: 0.3px solid #303030; */
    }
    .scoreboard-table-container tbody tr td{
        padding: 10px 20px;
        width: 400px;
    }
    .scoreboard-table-container tbody tr td:first-child{
        padding: 20px;
        white-space: nowrap;
    }
    .scoreboard-table-container tbody tr td:last-child{
        padding: 20px;
        white-space: nowrap;
    }
    .sort-buttons-container{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sortButt{
        margin-right: 10px;
        margin-block: 10px;
    }

    
}

@media screen and (max-width: 450px) {

    .scoreboard-table-container tbody tr td{
        padding: 10px 20px;
        width: 300px;
    }
    .sort-buttons-container{
        margin-inline: auto;
        width: 250px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}
@media screen and (max-width: 350px) {

    .scoreboard-table-container tbody tr td{
        padding: 10px 20px;
        width: 250px;
    }
    .sort-buttons-container{
        margin-inline: auto;
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .previous-results-container .table-container tbody td{
        padding-inline: 8px;
    }

}

@media screen and (max-width: 1110px) {

    .mana-title{
        width: 400px;
        text-align: center;
    }

    .responsive-table thead tr th{
        display: none;
    }
    .manage-user-account-container .table-containers .responsive-table tbody tr td:first-child{
        display: none;
    }
    .manage-user-account-container .table-containers .responsive-table tbody tr td{
        padding-block: 10px;
        text-align: left;
        display: block;
        border: none;
        width: 400px;
    }
    .manage-user-account-container .table-containers .responsive-table tbody tr td:nth-child(2){
        padding-top: 20px;
    }
    .manage-user-account-container .table-containers .responsive-table tbody tr{
        /* border: none; */
        background-color: #303030;
        color: aliceblue;
    }
    .manage-user-account-container .table-containers .responsive-table tbody tr:nth-of-type(2n){
        /* border: none; */
        background-color: aliceblue;
        color: #303030;
    }
    .manage-user-account-container .responsive-table tbody tr td:first-child{
        padding-top: 15px;
        /* border: 0.3px solid red; */
    }
    .manage-user-account-container .responsive-table td::before{
        padding-left: 20px;
        content: attr(data-cell) ": ";
        padding-right: 15px;
        font-weight: 700;
        text-transform: capitalize;
    }
    

}

@media screen and (max-width:450px) {

    .mana-title{
        width: 300px;
        text-align: center;
    }
    
    .manage-user-account-container .table-containers .responsive-table tbody tr td{
        padding-block: 10px;
        text-align: left;
        display: block;
        border: none;
        width: 300px;
    }

}

@media screen and (max-width:350px) {

    .manage-user-account-container .responsive-table td::before{
        padding-left: 5px;
        /* margin-bottom: 5px; */
        content: attr(data-cell) ": ";
        padding-right: 15px;
        font-weight: 700;
        text-transform: capitalize;
    }

    .manage-user-account-container .responsive-table select{
        margin-top: 10px;
    }

    .mana-title{
        width: 250px;
        text-align: center;
    }
    
    .manage-user-account-container .table-containers .responsive-table tbody tr td{
        padding-block: 10px;
        text-align: center;
        display: block;
        border: none;
        width: 250px;
    }

}